$colorGris: #CFD8DC;
$margenTop: 10px;

.form-check {
	margin-left: 12px;
	margin-top: $margenTop;
}
section {
	margin-top: $margenTop;	
	margin-bottom: 10px;
	margin-left: 30px;
	margin-right: 30px;
    background-color: $colorGris;
    width: cover;
    height: 100%;
    min-height: 100vh;
}


