/*    >>>>>Footer<<<<<    */

.footer {
     background-image: url("../Imagenes/fondo_atardecerabajo.jpg");
   
     color: #c6ffb9;
    height: cover;
    white: 100%;
     margin-top: 10px;
     margin-bottom: 0;
}
.mapa {
   
   margin-top: 10px;


 }

 .col-lg-3 {
 	text-align:  center;

 	
 }

 iframe {
 	border-radius: 10px;
 }
