/*    >>>>>>Galeria<<<<<<*/

.carousel {
  width: 70%;
  height: 100%;
  box-shadow: 10px 0px 35px #42FF66;
  border-radius: 10px;
 align-items: center;
}

.d-block {
width: cover;
	height: cover;
}


@media (max-width: 640px) {
	.carousel {
		display: none;
	}
.solo_movil {
	width: 100%;
	height: 100%;
	font-size: 30px;
	color: red;
	background-color: lightblue;
	padding-left: 25px;
}
}


@media (min-width: 640px) {
	.solo_movil {
		display: none;
		
			}

		
}

	

